@media(max-width:700px){
    .main-game-container{
        width: 400px;
        height: 500px;
    }
    .controls {
        width: 400px;
        display: block;
    }
}
@media(max-width:450px){
    .main-game-container{
        width: 350px;
        height: 450px;
    }
    .score-board h3{
        font-size: 13px;
    }
    .controls {
        width: 350px;
    }
}
@media(max-width:360px){
    .main-game-container{
        width: 280px;
        height: 400px;
    }
    .score-board h3{
        font-size: 12px;
    }
    .controls {
        width: 280px;
        height: 100px;
    }
}